#window_chat {
  left: 0;
  bottom: 0;
  width: 25em;
  height: 43vh;
  background-color: rgba(0, 0, 0, 0);
}

#window_chat > .content {
  color: white;
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#chat_messages { /* todo remove calc usage */
  padding: 0.1em;
  overflow: auto;
  overflow-wrap: break-word;
  width: 100%;
  height: calc(100% - 0.2em - 1.95em * 2);
}

#chat_input {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 0.4em;
  background-color: rgba(0, 0, 0, 0.3);
  height: 2.15em;
  color: white;
}

::placeholder {
  font-family: 'Ubuntu', sans-serif;
  user-select: none; -moz-user-select: none; -ms-user-select: none; 
}