@import './window.scss';
@import './chat.scss';
@import './tool.scss';

body { margin: 0; font-family: 'Ubuntu', sans-serif;}

#game { display: block; }

input[type="range"].beta {
  background: white;
  border: 1px solid gray;
  margin: 2px;
  margin-right: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  &::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: goldenrod;
    border-radius: 50%;
  }
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: goldenrod;
    border-radius: 50%;
  }
  
  &::-ms-thumb {
    -webkit-appearance: none; /* yes, edge uses -webkit- too */
    height: 12px;
    width: 12px;
    background: goldenrod;
    border-radius: 50%;
  }
}

img.pixel, canvas.pixel {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated
}

.color {
  width: 2em;
  height: 2em;
  margin: 0.2em;
  border: 1px solid lightgray;
}

button, input.beta {
  border-radius: 4px;
  outline: none;
}

input.beta {
  box-sizing: border-box;
}

button, input[type="submit"] {
  user-select: none; -moz-user-select: none; -ms-user-select: none;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background: lightgray;
  
  &:active {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  &:hover {
    border-bottom-color: #7a7a7a;
    border-right-color: #7a7a7a;
  }
}

button.block, input[type="text"].beta, input[type="number"].beta {
  display: block;
  width: 100%;
}

#window_tools {
  left: 160px;
  top: 0;
}

@media (max-width: 666px) and (orientation: portrait) {
  #window_tools {
    width: 44px;
    top: 20px;
    left: 4px;
  }
}

#window_colors {
  top: 10px;
  right: 10px;
  width: 2.1em;
  
  .header {
    display: none;
  }
}

#window_menu, #window_account {
  width: 16em;
}

#window_menu > .content button, #window_account > .content button, #window_account > .content input {
  display: block;
  width: 100%;
  padding: 5px;
}

.menu.logged-in, .menu.login, .menu.register {
  display: none;
}

input[type="checkbox"] {
  vertical-align: middle;
}