.tool {
  display: inline-block;
  font-size: large;
  background-color: #009999;
  margin: 2px;
  margin-bottom: 0;
  padding: 3px;
  user-select: none; -moz-user-select: none; -ms-user-select: none; 
  border-radius: 2px;
  width: 34px;
  height: 34px;
  &:hover {
    background-color: #008080;
  }
  &.active { 
    background-color: #006666;
  }
  & > .icon {
    width: 32px;
    height: 32px;
    margin: 1px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    border-radius: 2px;
  }
  & > .cog {
    margin-top: -12px; margin-right: -4px;
    background-image: url("https://cdn.glitch.com/dd47f749-4f4e-455e-8b70-b81881c6492b%2Fcog_small.png?1533019971916");
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    transition: 0.5s ease all;
    float: right;
    &:hover {
      transform: rotate(90deg);
    }
  }
}