/* Windows Tixtels v2018 CSS Edition */
#windows { position: absolute; }

.window {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 10px -1px black;
  opacity: 1;
  transition: width 0.75s, height 0.75s, opacity 0.2s;
  overflow: hidden;
  border-radius: 2px;
  
  & > .header {
    background-color: #0078d7;
    height: 20px;
    padding-bottom: 2px;
    user-select: none; -moz-user-select: none; -ms-user-select: none; 
    width: 100%;

    & > .title {
      margin: 2px 7px;
      float: left;
      font-size: 13px;
      text-align: center;
      color: white;
    }

    & > .close {
      float: right;
      text-align: center;
      width: 45px;
      height: 100%;
      background: #0000;
      color: white;
      margin-left: 2px;
      transition: background 0.2s, color 0.2s;
      font-size: 13px;
      border: 1px solid #0000;

      &:hover {
        color: white;
        background: #c75050;
        border: 1px solid #0001;
      }

      &:active {
        color: white;
        background: #b74040;
        border: 1px solid #0001;
      }

      &::after {
        content: 'X';
      }
    }
  }
  
  & > .content {
    color: black;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
  }
}