<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="A multiplayer web-based game about drawing, writing, chatting and having fun online!">
    <meta name="keywords" content="tixtels, tixtel, pixel, text, game, multiplayer, html5, fun, play, online, drawing, friends">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <style><%= require('./style/style.scss') %></style>
    <style id="theme"></style>
  </head>
  <body>
    <span style="font-family: 'Ubuntu Mono'; position: absolute;">&nbsp;</span>
    <div id="windows"></div>
    <canvas id="game" width="0" height="0"></canvas>
    <noscript><h1>JavaScript must be enabled.</h1></noscript>
  </body>
</html>